@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,100;1,200;1,500;1,600;1,700;1,800&display=swap");

body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 50vw;
  width: 70vw;
  position: relative;
}
.main-container {
  padding: 40px;
  position: relative;
}

.top {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.type {
  display: flex;
  align-items: center;
  gap: 30px;
}
.keyboard,
.circle {
  font-size: 30px;
}
.Timer {
  color: white;
  display: flex;
  justify-content: space-between;
}
textarea {
  /* border: none; */
  background-color: black;
  color: gainsboro;
  width: 100%;
  height: 20vw;
  resize: none;
  border: none;
  outline: none;
}

.word-controls {
  color: white;
  position: absolute;
  left: 48%;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  gap: 0.5rem;
}
.reset {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -44px;
  margin-top: 20px;
}
button {
  height: 40px;
  cursor: pointer;
}
.btn-count {
  display: flex;
  gap: 1rem;
  position: absolute;
  left: -97px;
  top: 70px;
  margin-top: 12px;
  align-items: center;
}
.footer {
  position: absolute;
  bottom: -25%;
  display: flex;
  align-items: center;
}
.social {
  display: flex;
  gap: 1rem;
}
.select {
  padding: 5px;
}
.theme {
  position: absolute;
  left: 40rem;
}
